.map-container {
    height: 98vh;
  }
  
  .author {
    opacity: .95;
    background-color: rgb(187, 186, 195);
    color: #5d5678;
    font-size: 16px;
    padding: 12px 18px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 0;
    margin: 24px;
    border-radius: 4px;
  }

  .sidebar {
    opacity: .85;
    background-color: #686185;
    color: #fff;
    font-size: 16px;
    padding: 12px 18px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 0;
    margin: 24px;
    border-radius: 4px;
  }

  a {
    color: rgba(10, 27, 53, 0.904);
    font-weight: 600;
  }
  